
<div class="container">
  <app-titulo [title]="title"></app-titulo>
<form class="form-inline"  >
  <div class="form-group mb-2">
    <a class="btn btn-outline-info" [routerLink]="['create']"><span class="fa fa-plus">Create New</span></a>
  </div>
</form>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>CRM</th>
      <th>CRM-UF</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody *ngIf='doctors &&doctors.length'>
    <tr  *ngFor="let doctor of doctors">
      <td>{{doctor.name}}</td>
      <td>{{doctor.crm}}</td>
      <td>{{doctor.crmUf}}</td>
      <td>
        <div class="btn-group">
          <a [routerLink]="[doctor.id, 'edit']"class="btn btn-sm btn-success" tooltip="Edit"><span class="fa fa-pencil-alt"></span></a>
          <button class="btn btn-sm btn-danger " tooltip="Delete"><span class="fa fa-trash" (click)="excluirDoctor(doctor, confirm)"></span></button>
        </div> 
      </td>
    </tr>
  </tbody>
  <tfoot colspan="5" class="text-center"  *ngIf='!doctors.length'>
    <h4>
      No data has been found!
    </h4>

  </tfoot>
</table>
<div>

</div>
</div>
<div bsModal #confirm="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
	<div class="modal-dialog modal-sm">
  		<div class="modal-content">
    		<div class="modal-header">
      			<h4 class="modal-title pull-left">
        			Deleting Doctor...
      			</h4>
      			<button type="button" class="close pull-right" (click)="confirm.hide()" aria-label="Close">
        			<span aria-hidden="true">&times;</span>
      			</button>
    		</div>
    		<div class="modal-body">
      			<p>{{bodyDeletarDoctor}}</p>
    		</div>    
    		<div class="modal-footer btn-group d-flex">      
      			<button type="button" class="btn btn-outline-primary" (click)="confirm.hide()">
        			CANCEL
      			</button>
      			<button type="button" class="btn btn-outline-danger" (click)="confirmDelete(confirm)">
          			DELETE
        		</button>
    		</div>
  		</div>
	</div>
</div>